<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Basic Page Needs
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>espeak-ng testing range</title>
    <meta name="description" content="listen to espeak-ng output; update voice files and share">
    <meta name="author" content="Vardhan Varma (github.com/vrdhn)">

    <!-- Mobile Specific Metas
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- CSS
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    <!-- Favicon
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon.png">

  </head>
  <body>
    <div class="container">
      <hr/>
      <div class="row">
	<div class="twelve columns">
	  <p>Use this website to listen to espeak-ng and share sounds with others</p>
	  <p>On pressing Speak, the entered data is sent to server, and MP3 file is geneated.</p>
	  <p>Below the button is the audio player to play out the file</p>
	  <p>On pressing 'Share', an new unique sharable URL is generated.</p>
	  <p>All text are saved in a database for later analysis</p>
	  <p>Please do not abuse the service.<p>
	</div>
      </div>
      <hr/>
      <form action="/?q={{.ID}}" method="POST">
	<div class="row">
	  <!-- -->
	  <div class="six columns">
	    <label for="espeakVersion">espeak-ng version</label>
	    <select class="u-full-width" name="espeakVersion"  onchange="updLang()">
	      {{ range  $ind, $ele  := .TTSEngines }}
	      <option value="{{$ele.External}}">{{$ele.Internal}}</option>
	      {{end}}
	    </select>
	  </div>
	  <!-- -->
	  <div class="six columns">	  
	    <label for="langVariant">Language & Variant</label>
	    <select class="u-full-width" name="langVariant">
	      <!-- inserted at run time -->
	    </select>
	  </div>
	</div>
	<!-- -->
	<hr/>
	<div class="row">	
	  <div class="six columns">
	    <div class="row">
	      <label for="inputText">Enter Text</label>
	      <textarea class="u-full-width" placeholder="Some UTF-8 Text" name="inputText">{{.InputText}}</textarea>
	    </div>
	    <div class="row">	
	      <input class="button-primary" type="submit" name="speak" value="Speak"/>
	      <input class="button-primary" type="submit" name="share" value="Share"/>
	    </div>
	    <div>
	      <audio controls prelaod src="/waves/{{.ID}}.mp3"/>
	    </div>
	  </div>	
	  <div class="six columns">
	    <label for="textAnalysis">Phoneme Analysis</label>
	    <pre>{{.Analysis}}</pre>
	  </div>
	</div>
	<div class="row" style="display: none;">
	<hr/>
	  <div class="four columns">
	    <label for="espeakVersion">dictsource/??_list</label>
	    <textarea class="u-full-width" placeholder="Changes to _rules files" name="langDictList"></textarea>	  
	  </div>
	  <div class="four columns">
	    <label for="espeakVersion">dictsource/??_rules</label>
	    <textarea class="u-full-width" placeholder="Changes to _list file" name="langDictRules"></textarea>	  
	  </div>
	  <div class="four columns">
	    <label for="espeakVersion">phsource/ph_???</label>
	    <textarea class="u-full-width" placeholder="Enter phonemes" name="langLangPhoneme"></textarea>	  
	  </div>
	</div>
      </form>
      <hr/>
      <div class="row">
	<div class="eight columns">
	  <footer>
	    <p>Copyright (C) 2017, Vardhan Varma</p>
	    <p>espeak-ng is available at http://github.com/espeak-ng/espeak-ng</p>
	    <p>The source code of this site is available under GNU GPL3 at <a href="http://github.com/vrdhn/eow" > Github </a> </p>
	    <p>Raise <a href="http://github.com/vrdhn/eow/issues"> github issues </a> for requesting changes to this site<p>
	  </footer>
	</div>
      </div>
    </div>
    <script>
langVariants = {
    {{ range  $tts, $langs  := .TTSLangs }}
    "{{$tts}}" : 
    '{{ range  $idx, $ele  := $langs }}<option value="{{$ele.External}}">{{$ele.Internal}}</option>{{end}}',
    {{end}}
}

function updLang () {
    var ver = document.getElementsByName("espeakVersion")[0].value
    var sel = document.getElementsByName("langVariant")[0]
    var oldval = sel.value
    sel.innerHTML = langVariants[ver]
    sel.value = oldval
    if ( sel.selectedIndex == -1 ) {
	sel.selectedIndex = 0
    }
}
function init () {
    updLang()
    document.getElementsByName("espeakVersion")[0].value = "{{.TTSVersion}}"
    document.getElementsByName("langVariant")[0].value = "{{.LangVariant}}"
}
window.onload = init
    </script>      
  </body>
</html>
